.BooksGrid {
  margin: 10px auto 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: .5rem;
}

.BooksGrid > div {
  margin: 0 auto !important;
  width: 99%;
}
