.NavigationItems {
  margin: 0;
  padding: 0 !important;
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
}

.Dropdown > a {
  padding-left: 0;
  color: var(--toolbar-link-color);
}

.Theme {
  margin-right: 10px !important;
  padding: 3px 6px;
}

@media (min-width: 768px) {
  .Dropdown > div {
    right: 0;
    left: auto;
  }
}
