.BooksGrid {
  margin-top: 10px;
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: .5rem;
}

.BooksGrid > div {
  margin: 0 auto;
  margin: 0 auto !important;
  width: 99%;
}

.CardBook {
  cursor: pointer;
}
