.Wrapper {
  max-width: 800px;
  margin: 0 auto;
}

button {
  margin: 2px !important;
}

select {
  max-width: 150px;
}

.Chapter {
  font-size: 15px;
  color: blue;
  overflow-wrap: anywhere;
  width: 100%;
  display: list-item !important;
}

.Chapter:hover {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

.Chapter p {
  width: calc(100% - 59px);
  display: inline-flex;
  margin-bottom: 0;
}

.Chapter button {
  font-size: 13px;
  padding: 1px 5px;
}
