.CardBook {
  cursor: pointer;
  max-width: 360px;
}

.Description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Rating {
  font-size: 10px !important;
}
