.CardBook {
  cursor: pointer;
  max-width: 100%;
  text-align: center;
  margin: 0 !important;
}

.Description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Rating {
  font-size: 10px !important;
}

.OneLined {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.Image {
  flex-shrink: 0;
  width: 100%;
  max-height: 150px;
}
